@import url('https://fonts.googleapis.com/css?family=Oswald|Wendy+One');
/*__== general settings ==__*/

html,
body{
  box-sizing: border-box;
}

body{
  height: 100%;
  font-family: 'Oswald', sans-serif;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 80px auto 53px;
}

ul >li {
  list-style-type: none;
  text-align: left;
  cursor: pointer;
}

li:active {
  background: #325;
  color: #fff;
  border-radius: 5px;
}

input {
  margin-top: 5px;
  padding: 5px;
  font-family: 'Oswald', sans-serif;
  border: 2px solid #f41;
}

/*__== header_section ==__*/
.header_section {
  grid-column: 1/3;
  grid-row: 1;
  background: #325;
  border-radius: 0 10px 0 10px;
}

.header_section:first-child{
  color: #fff;
  font-family: 'Wendy One', sans-serif;
  font-weight: 400;
}

/*__== places section ==__*/
.places {
  grid-column: 1/2;
  grid-row: 2;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  overflow-y: hidden;
  background: #ec3;
}

/*__== map section ==__*/
.map_section {
  grid-column: 2/3;
  grid-row: 2;
  width: 100%;
  height: 100%;
  background: #f41;
}

/*__== footer section ==__*/
footer {
  grid-column: 1/3;
  grid-row: 3;
  background: #325;
  border-radius: 0 10px 0 10px;
  width: 100%;
}

footer > p {
  color: #fff;
}

/*__== InfoWindow box ==__*/
.infobox {
  border-radius: 0 10px 0 10px;
  background:  #ec3;
  padding: 10px;
  color: #000;
  font-family: 'Oswald', sans-serif;
}

.Error_box {
  position: absolute;
  top: 100;
  width: 100%;
  background: #fff;
  border: 2px solid #ec3;
  font-size: 16px;  
}

/*__== Media Queries ==__*/

@media screen and (max-width: 425px) {
  .App{
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80px 250px 750px auto; 
  }

  .places {
    grid-column: 1/3;
    grid-row: 2;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    overflow-y: scroll;
    background: #ec3;
  }

  .map_section{
    grid-column: 1/3;
    grid-row: 3;
    width: 100%;
    height: 100%;
    background: #f41;
  }

  footer {
    grid-column: 1/3;
    grid-row: 4;
    background: #325;
    border-radius: 0 10px 0 10px;
    width: 100%;
  }
}